#madInput {
  margin: 2% auto;
  width: 90%;
  text-align: center;
}
#madResults {
  border: 1px #000 solid;
  padding: 0% 3% 2%;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
#dMembers {
  border: 1px #d3d3d3 solid;
  padding: 0% 3%;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.memberSentence {
  display: inline;
}
#allMemberSentences {
  margin: 5% auto;
  width: 90%;
  text-align: center;
}
